header {
	background-color: #162127;
	margin-top: 20px;
    font-family: 'Helvetica', 'Arial', sans-serif;
    weight:400;
	font-size: 17px;
	line-height: 16px;   
	color: rgb(29, 33, 41);
} 

body {
	background-color: #162127;

}

.backbtn {
	height: 30px;
	width: 30px;
	margin-left: 10px;
}

.language {
	text-align: center;
	color:#919fac;
}

 .container {
            display: flex;
            justify-content: center;
            align-items: center;
			margin-bottom: 100px;
 }
 
.logo{
	/*height: 100px;*/
	width: 75px;
	 max-width: 100%; /* Optional: To make the image responsive */
     height: auto;
	 margin-top: 70px;
}

   .login-container {
            background-color: #162127;
            padding: 20px;
            border-radius: 10px;
            box-shadow: none;
            width: 85%;
            max-width: 400px;
			position: relative;
            top: 70%;
            left: 50%;
            transform: translate(-50%, -20%);
            text-align: center; /* Ensures everything inside the container is centered */
		    
        }

        .facebook-input {
			height: 30px;
            width: 90%;
            padding: 14px;
            margin: 10px 0;
            border: 1px solid #3e4e5b;
            border-radius: 10px;
            font-size: 16px;
            outline: none;
            background-color: #162127;
        }

        .facebook-input:focus {
            border-color: #162127;
            box-shadow: 0 0 5px #8495a2;
            background-color: #162127;
        }

        .login-btn {
            width: 100%;
            padding: 16px;
            background-color: #1877f2; /* Facebook blue */
            color: white;
            border: none;
            border-radius: 25px;
            font-size: 16px;
            cursor: pointer;
            font-weight: bold;
			display: block;
			margin: 0 auto;
			margin-top: 10px;
			margin-bottom: 30px;
        }

        .login-btn:hover {
            background-color: #165dd6;
        }

        .forgot-password {
            display: block;
            text-align: center;
            margin-top: 5px;
            color: #fcffff;
            font-size: 14px;
            text-decoration: none;
			font-family: 'Helvetica', 'Arial', sans-serif;
        }

        .forgot-password:hover {
            text-decoration: none;
			color: #c3cbd2;
        }
		
		.meta{
			margin-top: 15PX;
			height: 19px;
			width: 84px;
		}
		
		 .container1 {
            display: flex;
            justify-content: center;
            align-items: center;
		
 }
 
 ::placeholder{
	 color:#cad3dc;
 }
 
 .login-btn1 {
            max-width: 400px;
            width: 90%;
            padding: 16px;
            background-color: #162127;
            color: #50a4ea;
            border: 1;
	        border-color:#50a4ea;
            border-radius: 25px;
            font-size: 17px;
            cursor: pointer;
			display: block;
			margin: 0 auto;
			margin-top: 50px;
			margin-bottom: 30px;
        }
		input { color: #ffffff; }
